@import '../../components/variables.css';
.root {
  padding-left: 0px;
  padding-right: 0px;
}
.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-container-width);
  margin-top: 1px;
}

.becomeHostContainer {
  margin-top: 10px;
}

.nearlyHostContainer {
  min-height: calc(100vh - 63px);
  padding-top: 30px;
}

@media screen and (min-width: 1201px) {
  .becomeHostContainer {
    max-width: 1070px;
  }
}