@import '../../components/common.css';
@import '../Safety/Safety.css';
.tab {
    width: 50%;
    text-align: center;
    cursor: pointer;
}
.tabsContent li {
    position: relative;
    padding: 15px 0 20px 0;
}
.tabsContent li .circle {
    margin-bottom: 0;
}
.mainContent, .openMainContent {
    font-size: 1.4rem;
}
.tabsContent li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.8px;
    background: #0000002b;
    bottom: 0;
}
.textJustify {
    padding-left: 10px;
}
.tabsContent li:nth-last-child(1)::after {
    display: none;
}